{
    "$schema": "https://json.schemastore.org/swcrc",
    "module": {
        "type": "commonjs",
        "strict": false,
        "strictMode": true,
        "lazy": false,
        "noInterop": true
    },
    "jsc": {
        "baseUrl": ".",
        /* "minify": { */
        /*     "compress": true, */
        /*     "mangle": true */
        /* }, */
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "dynamicImport": false,
            "decorators": false
        },
        "transform": {},
        "target": "es2021",
        "loose": false,
        "externalHelpers": false,
        // Requires v1.2.50 or upper and requires target to be es2016 or upper.
        "keepClassNames": false
    },
    "isModule": true,
    /* "minify": true, */
    /* "sourceMaps": true */
}
